* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("./eduford_img/banner.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2% 6%;
}
nav a img {
  width: 150px;
}
.navlinks {
  flex: 1;
  text-align: right;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}
ul li::after {
  content: "";
  margin: auto;
  display: block;
  width: 0%;
  height: 3px;
  background-color: red;
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 50%;
  translate: (-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 4rem;
}
.btn {
  color: white;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 30px;
  font-size: 13px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.btn:hover {
  background-color: orangered;
  border: 1px solid orangered;
}

svg {
  color: rgb(255, 255, 255);
}
.fa-bars,
.fa-xmark {
  display: none;
}
/* courses section */
.courses {
  margin-top: 3rem;
}
.courses h1,
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
}
.courses h1,
.courses p,
.location h1,
.location p,
h1 {
  text-align: center;
}
.courses p {
  color: rgba(128, 128, 128, 0.694);
}
.cards {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 3rem;
  gap: 3rem;
}
.cards img {
  width: 80%;
}
.cards div {
  background-color: rgba(216, 112, 147, 0.521);
  cursor: pointer;
  flex-basis: 31%;
  position: relative;
}
.cards div:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.416);
}

/* images */
.row {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.images {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
.images-col {
  position: relative;
}
.images img {
  width: 100%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.layer {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.layer:hover {
  background-color: rgba(255, 68, 0, 0.553);
  color: white;
}

.facilities,
.comments {
  margin-top: 2rem;
}
.facilities p,
.comments p {
  text-align: center;
}
.reviews {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}
.reviews img {
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.space {
  display: flex;
  text-transform: uppercase;
  border-radius: 1rem;
  background-color: rgba(216, 112, 147, 0.171);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.fa-star,
.fa-star-half-stroke {
  color: #dfb930;
  filter: drop-shadow(3px 3px 3px black inset);
  -webkit-filter: drop-shadow(3px 3px 3px black inset);
}
.banner {
  width: 80%;
  position: relative;
  height: 400px;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("./eduford_img/banner2.jpg");
}
#banner {
  display: flex;
  justify-content: center;
}
.layer2 h2 {
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  top: 50%;
  left: 10%;
}
.layer2 a {
  position: absolute;
  text-transform: uppercase;
  font-weight: 600;
  bottom: 10%;
  left: 40%;
}
/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 2rem;
  }
  nav {
    justify-content: space-between;
  }
  ul li {
    display: block;
  }
  .navlinks {
    background-color: orangered;
    position: absolute;
    height: 100vh;
    visibility: hidden;
    top: 0px;
    right: 0;
    z-index: 2;
    width: 200px;
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 01s;
    -ms-transition: 01s;
    -o-transition: 01s;
  }
  .fa-xmark {
    display: block;
    font-size: 2rem;
    margin: 2rem;
  }
  .fa-bars {
    display: block;
    font-size: 2rem;
  }
  .cards {
    display: block;
  }
  .cards div {
    width: 80%;
    margin: 3rem auto;
  }
  figure {
    display: block;
  }
  figure img {
    display: block;
    width: 70%;
    margin: 2rem auto;
  }
  .row {
    display: block;
  }
  .reviews {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .comments h1,
  .comments p {
    width: 80%;
    text-align: center;
  }
  .layer2 h2 {
    top: 0;
  }
  .layer2 a {
    bottom: 0;
  }
}
